{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content %}
<! –– Start custom section ––>
<span style="color:silver; font-size:11px">{{ comments }}</span>
{{ actions }}
<! –– End custom section ––>
{{ block.super }}
{% endblock %}


{% block object-tools %}
<ul class="object-tools">
    {% if url_import_from_source %}
        <li>
        <a href="{{ url_import_from_source }}" class="addlink">Import from source</a>
    </li>
    {% endif %}
    {% if url_dumpdata_general %}
    <li>
        <a href="{{ url_dumpdata_general }}" class="addlink">Dumpdata</a>
    </li>
    {% endif %}
    {% if url_truncate_general %}
    <li>
        <a href="{{ url_truncate_general }}" class="addlink">Truncate</a>
    </li>
    {% endif %}
    {% if url_loaddata_general %}
    <li>
        <a href="{{ url_loaddata_general }}" class="addlink">Loaddata</a>
    </li>
    {% if url_reset_pk %}
    <li>
        <a href="{{ url_reset_pk }}" class="addlink">Reset pk</a>
    </li>
    {% endif %}
    {% endif %}
    {% block object-tools-items %}
    {% change_list_object_tools %}
    {% endblock %}
</ul>
{% endblock %}

{% block pagination %}
{{ block.super }}
<div style="margin: 10px">
    {% if url_data_model %}
        {{ url_data_model }}
    {% endif %}
</div>
{% endblock %}
